# Banco de dados
POSTGRES_DB=tio_carona
POSTGRES_USER=tio_carona_user
POSTGRES_PASSWORD=7zFjhJTQ2GmTERFZggM3ktyXUZ2RhC

# Backend / JWT
# Gere com: openssl rand -base64 48
APP_JWT_SECRET=onLqbad3IAKATfAAHRc4re6PzWUoRhWGkwsT4U16zY6TG9mLpK
APP_JWT_EXPIRATION_MINUTES=30

SPRING_PROFILES_ACTIVE=prod

# Admin inicial
# Usado apenas se ainda não existir nenhum usuário na tabela de usuários.
APP_ADMIN_USERNAME=admin
APP_ADMIN_INITIAL_PASSWORD=Admin@123
APP_ADMIN_NAME=Administrador

# CORS
# Para acesso por IP, use http://185.225.22.209
# Para domínio, use https://tio-carona.seudominio.com.br
APP_CORS_ALLOWED_ORIGINS=http://cdm.dev.br,http://185.225.22.209

# JVM
JAVA_TOOL_OPTIONS="-XX:MaxRAMPercentage=65 -XX:+UseContainerSupport"